@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
	color: #0E2239;
	margin: 0;
	
	
}

img {
	width: 300px;
	border-radius: 40px;
}

html, body {
	background-color: #B9D0E9;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title {
display:  flex;
}

.title-img {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
}

.intro {
    display: flex;
    text-align: center;
    border: 10px solid lightgray;
    margin-left: 220px;
	margin-right: 220px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container div {
    border: 10px solid lightgray;
    margin: 20px 20px;
    padding: 10px;
    flex-basis: calc(33% - (40px /3));
    text-align: center;
}

.ingredients {
    border: 10px solid lightgray;
    margin: 20px 20px;
    padding: 10px;
    text-align:justify;
    margin-left: 460px;
	margin-right: 460px;
    
}

.ingredients h2 {
    text-align: center;
}

ul {
    list-style: none; 
}

ol {
    list-style: none; 
}

li {
    list-style: none; 
}

.directions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.directions div {
    border: 10px solid lightgray;
    margin: 20px 20px;
    padding: 10px;
    flex-basis: calc(33% - (40px /3));
    text-align: center;
    
}

.nav ul{
	margin: 0;
    background-color: black;
}

.nav li {
	display: inline;
    
}

.nav a {
	padding: .5em;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.nav a:hover {
	background-color: rgba(255,255,255, .3);
}

.main-nav {
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255, .3);
}

.main-nav li {
	padding: 0 5%;
}